*.xnb

JetpacReloaded/.vs/
JetpacReloaded/JetpacReloaded/bin/
JetpacReloaded/JetpacReloaded/.vs/
JetpacReloaded/JetpacReloaded/obj/
JetpacReloaded/JetpacReloaded/Content/obj/
JetpacReloaded/JetpacReloaded/app.manifest


C64_binary_file_converter/pkg/
Zig_Emulator/zig-cache/
Zig_Emulator/zig-out/
Zig_Emulator/main.exe
Zig_Emulator/main.exe.obj
Zig_Emulator/main.pdb
*.pyc
