*.xnb
*.lock
*.pyc

JetpacReloaded/.vs/
JetpacReloaded/JetpacReloaded/bin/
JetpacReloaded/JetpacReloaded/.vs/
JetpacReloaded/JetpacReloaded/obj/
JetpacReloaded/JetpacReloaded/Content/obj/
JetpacReloaded/JetpacReloaded/app.manifest
JetpacReloaded/Typescript version/HTML5Canvas/out/
JetpacReloaded/Typescript version/HTML5Canvas/ts_lib/
JetpacReloaded/Typescript version/HTML5Canvas/ts/CS/
JetpacReloaded/Typescript version/WebGLCanvas/out/

C64_binary_file_converter/pkg/
C64_binary_file_converter/.idea/
C64_binary_file_converter/*.lock
C64_binary_file_converter/Cargo.lock

TS_JT-Reader/C\#_JT-Reader_Vis-Studio/.vs
TS_JT-Reader/C\#_JT-Reader_Vis-Studio/Backup
TS_JT-Reader/C\#_JT-Reader_Vis-Studio/C sharp JT-Reader/bin
TS_JT-Reader/C\#_JT-Reader_Vis-Studio/C sharp JT-Reader/obj

CodeKata/target/
CodeKata/CodeKata/target
CodeKata/TestCode/target

Zig_8080_Emulator/.zig-cache
Zig_8080_Emulator/zig-cache
Zig_8080_Emulator/main.exe*
Zig_8080_Emulator/main.pdb
Zig_8080_Emulator/.idea

Zig_Emulator/zig-cache/
Zig_Emulator/zig-out/
Zig_Emulator/main.exe
Zig_Emulator/main.exe.obj
Zig_Emulator/main.pdb

